---
- name: Install docker container
  hosts: all
  remote_user: root

  tasks:
  - name: install docker
    apt:
      name:  docker
      state: present
  - name: install python3
    apt:
      name:  python3
      state: present
  - name: install pip3
    apt:
      name:  python3-pip
      state: present
  - name: install pip modules
    pip:
      name: docker
  - name: "creat docker build dir"
    ansible.builtin.file:
      path: /home/ubuntu/app/dockerfiles
      state: directory
      mode: '0755'
  - name: copy docker file to renmote host
    ansible.builtin.copy:
      src: ./Dockerfile
      dest: /home/ubuntu/app/dockerfiles/Dockerfile
      mode: '0655'
  - name: "test"
    community.docker.docker_image:
      name: docker-ssh-image
      build:
        path: /home/ubuntu/app/dockerfiles
      source: build
  - name: "copy public key"
    ansible.builtin.copy:
      src: ./rsa_id.pub
      dest: /home/ubuntu/.ssh/authorized_keys
      mode: '0400'
      owner: "ubuntu"
  - name: "copy public key"
    ansible.builtin.copy:
      src: ./rsa_id.pub
      dest: /root/.ssh/authorized_keys
      mode: '0400'
  - name: start docker container
    community.docker.docker_container:
      name: "ssh-container"
      image: docker-ssh-image
      restart: yes
      recreate: yes
      ports: 
        - "2025:22"
      volumes:
        - "/home/ubuntu/.ssh/authorized_keys:/home/ubuntu/.ssh/authorized_keys:ro"
        - "/root/.ssh/authorized_keys:/root/.ssh/authorized_keys:ro"
      



